
VideoAnalysis_DavidOlivieri/Exercise_01/dataset/
VideoAnalysis_DavidOlivieri/Exercise_01/dataset2012
VideoAnalysis_DavidOlivieri/Exercise_01/dataset2014
VideoAnalysis_DavidOlivieri/Exercise_02/LabNtbks02/actiondata
VideoAnalysis_DavidOlivieri/Exercise_03/LabNtbks03/videos/*mp4
VideoAnalysis_DavidOlivieri/Exercise_03/LabNtbks03/videos/*avi
VideoAnalysis_DavidOlivieri/Exercise_03/LabNtbks03/gparms